/**
*
* {{ properCase name }}
*
*/

import React, { PropTypes } from 'react'

{{#if wantCSS}}
import styles from './styles.css'
{{/if}}

const {{ properCase name }} = ({children}) => (
  {{#if wantCSS}}
  <div className={ styles.{{ camelCase name }} }>
  {{else}}
  <div>
  {{/if}}
  </div>
)

{{ properCase name }}.propTypes = {
  children: PropTypes.element.isRequired,
}

export default {{ properCase name }}
